extends ../template
block content
    link(rel='stylesheet', href='/css/profile.css')
    .container
        if user
            p
                | UserID: 
                span=user._id
            p
                | Username: 
                span=user.username
            p
                | First name: 
                span=user.firstname
            p
                | Last name: 
                span=user.lastname
            p
                | Email: 
                span=user.email
            p
                | Heart: 
                span=user.heart
            p   
                | Report: 
                span=user.report
            p
                | Trading: 
                span=user.trading
            p
                | Time block: 
                span=`${user.timeBlock.getDate()}/${user.timeBlock.getMonth()}/${user.timeBlock.getFullYear()}--${user.timeBlock.getHours()}:${user.timeBlock.getMinutes()}`
            .btn
                a#del.btn.btn-danger.mr-5(href='/admin/user/delete/' + user._id) Delete User
                a.btn.btn-warning.ml-4.mr-5(href='/admin/user/block/'+user._id) Ban 1 hour
                a.btn.btn-info.ml-5(href='/admin/user') Cancel
    script.
       